body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

#previewContainer img, #finalContainer img {
    margin: 5px;
    border: 1px solid #ccc;
}

.lut-label {
    display: block;
    background: black;
    color: white;
    text-align: center;
    margin-top: -20px;
    font-size: 12px;
    width: 100%;
}
